<!--Areas文件夹下表单页面白色背景模板-->
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    @*在模板的头部，有一些meta标签用于指定页面的编码方式、渲染引擎和缩放设置。然后，使用了@await Html.PartialAsync("_Form.cshtml")来引入名为"_Form.cshtml"(这个引入库)的视图。*@
    @await Html.PartialAsync("_Form.cshtml")

    @*接着，有一个<script>标签用于定义一个JavaScript变量ctx，它存储了一个URL路径字符串。*@
    @RenderSection("header", false)
    <script type="text/javascript">
        var ctx = '@Url.Content("~/")';
    </script>
</head>
<body class="white-bg">
    @RenderBody()
    @RenderSection("footer", false)

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/alfred/css/alfred.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/alfred/js/alfred-init.min.js"))
</body>
</html>