@using Alfred.Util;
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/css/metroStyle/metroStyle.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/js/ztree.min.js"))

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.js"))
}

<div class="container-div ui-layout-center">
        <div id="toolbar" class="btn-group-sm">
            <h2>导入小时电量模板信息,由系统自动计算电费</h2>
            <a id="btnImport" class="btn btn-info" onclick="importForm()"><i class="fa fa-upload"></i> 导入</a>
            @*<a id="btnExport" class="btn btn-warning" onclick="exportForm()"><i class="fa fa-download"></i> 导出</a>*@
        </div>
        <div id="toolbar" class="btn-group-sm">
            <h2>导入峰尖峰谷深谷四段电量模板信息,由系统自动计算电费</h2>
            <a id="btnImport" class="btn btn-info" onclick="importBySegmentForm()"><i class="fa fa-upload"></i> 导入</a>
            @*<a id="btnExport" class="btn btn-warning" onclick="exportForm()"><i class="fa fa-download"></i> 导出</a>*@
        </div> 
        <div>
            <table id="showTable"></table>
        </div>
</div>

<script type="text/javascript">
    function importForm() {
        ys.openDialog({
            title: "导入数据",
            content: '@Url.Content("~/ElectChargesManage/ElectCharges/ElectImport")',
            height: "280px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function importBySegmentForm() {
        ys.openDialog({
            title: "导入数据",
            content: '@Url.Content("~/ElectChargesManage/ElectCharges/ElectImportBySegment")',
            height: "280px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    $('showTable').bootstrapTable({
        //展示电费数据
    });
</script>
